page-social {

    ion-content {
        background-color: #3A393B !important;
    }

    h1 {
        color: #DFDCE3;
    }

    a {
        text-decoration: none;
    }

    .loading {
        width: 50px;
        margin: 20px 40% 0 43%;
    }

}
